<p>REMY Jean-Baptiste</p>
<p>BEAUDET Robin</p>


# <center> Prediction de crimes à Philadelphie </center>
### <center> Ajout de variables sociodémographiques </center>

In [256]:
import pandas as pd

A partir du <a href="http://www.bls.gov/eag/eag.pa_philadelphia_co.htm">site du Bureau of Labor Statistics</a>, on peut récupérer des données économiques pour chaque mois depuis 2006. On dispose ainsi notamment de l'évolution du taux de chômage (unemployment rate) et du nombre de personnes employées par secteur d'activité. Les secteurs d'activités sont regroupés comme suit :
<ul>
  <li>Mining, Logging and Construction</li>
  <li>Manufacturing</li>
  <li>Trade, Transportation and Utilities</li>
  <li>Information</li>
  <li>Financial Activities</li>
  <li>Professional and Business Services</li>
  <li>Education and Health Services</li>
  <li>Leisure and Hospitality</li>
  <li>Other Services</li>
  <li>Government</li>
</ul>

In [257]:
# Unememployment par mois dans la ville de Philadelphie
df = pd.read_csv('C:\\Users\\robin\\Documents\\ENSAE\\Python\\Projet\\unemployment_rate_phil.txt', sep = ",")

In [258]:
df.head()

   Year Period labor force employment unemployment unemployment rate
0  2006    Jan      608659     568770        39889               6.6
1  2006    Feb      609180     570129        39051               6.4
2  2006    Mar      609354     571811        37543               6.2
3  2006    Apr      610997     575352        35645               5.8
4  2006    May      613592     575646        37946               6.2

In [259]:
df.dtypes

Year                  int64
Period               object
labor force          object
employment           object
unemployment         object
unemployment rate    object
dtype: object

On charge les fichiers reportant le nombre d'employés par secteurs et par mois depuis le 1er janvier 2006.

In [260]:
# Mining, Logging and Construction
df1 = pd.read_csv('C:\\Users\\robin\\Documents\\ENSAE\\Python\\Projet\\mining_logging_construction.txt', sep = ",")
df1

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2006,11.8,12.0,12.1,12.3,13.5,12.7,12.6,12.6,12.5,12.4,12.3,11.6
1,2007,11.2,11.4,11.6,11.6,11.8,12.0,12.2,12.2,12.0,12.6,12.3,11.8
2,2008,11.7,11.8,12.1,12.4,12.9,12.6,12.4,12.6,12.1,12.1,11.7,11.1
3,2009,9.9,10.1,9.8,9.8,10.1,10.3,10.3,10.2,10.1,10.5,10.0,9.6
4,2010,9.3,9.4,9.5,10.0,10.2,10.3,10.6,10.4,10.2,10.3,10.3,9.8
5,2011,9.0,9.1,9.2,10.1,10.7,10.2,10.1,10.4,10.5,10.5,10.5,9.6
6,2012,9.3,9.6,9.7,9.9,9.9,10.5,10.1,10.4,11.2,10.9,10.5,10.1
7,2013,9.6,9.8,10.6,10.7,10.8,10.9,10.6,10.9,10.6,10.5,10.4,9.8
8,2014,9.7,10.1,10.3,10.8,11.0,11.1,11.4,11.4,11.4,11.7,11.7,11.2
9,2015,10.7,11.2,11.0,11.1,11.5,12.2,11.7,11.7,11.8,11.8,11.7,11.4
10,2016,10.7,11.0,11.1,11.5,11.7,12.0,11.8,11.9,12.0,12.0(P),,NaN

In [261]:
# Manufacturing
df2 = pd.read_csv('C:\\Users\\robin\\Documents\\ENSAE\\Python\\Projet\\manufacturing.txt', sep = ",")
df2.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2006,30.4,30.4,30.4,30.4,30.3,30.1,29.4,29.6,29.7,29.6,29.5,29.2
1,2007,28.8,28.7,28.6,28.4,28.5,28.6,28.3,28.4,28.5,28.5,28.5,28.4
2,2008,27.8,27.7,27.5,27.6,27.7,27.8,27.8,27.9,28.0,27.8,27.9,27.6
3,2009,27.1,26.6,26.0,26.0,25.8,25.6,25.3,25.1,25.2,25.2,25.1,25.0
4,2010,24.7,24.6,24.7,24.8,24.9,24.9,24.7,24.6,24.7,24.6,24.4,24.2

In [262]:
# Trade, Transportation and Utilities
df3 = pd.read_csv('C:\\Users\\robin\\Documents\\ENSAE\\Python\\Projet\\trade_transport_utilities.txt', sep = ",")
df3.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2006,88.4,87.4,87.8,87.9,88.4,88.3,88.1,87.7,88.4,88.6,90.4,90.9
1,2007,87.5,86.7,86.8,87.1,87.5,87.6,87.6,87.3,87.6,87.6,89.5,90.3
2,2008,86.9,86.0,86.2,86.8,87.4,87.8,87.7,87.8,88.2,88.2,89.0,89.6
3,2009,86.0,85.4,85.0,84.5,84.9,85.3,85.1,85.1,85.9,86.8,88.0,88.8
4,2010,86.1,84.7,85.3,85.9,86.5,86.8,86.1,86.2,86.5,86.9,88.6,89.4

In [263]:
# Information
df4 = pd.read_csv('C:\\Users\\robin\\Documents\\ENSAE\\Python\\Projet\\information.txt', sep = ",")
df4.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2006,12.7,13.3,12.6,12.7,12.9,12.8,12.5,12.5,13.3,13.0,12.5,12.7
1,2007,12.5,12.4,12.4,12.5,12.4,12.5,12.4,12.5,13.5,12.6,12.6,12.7
2,2008,12.1,12.2,12.2,12.4,12.5,12.4,12.5,12.5,12.5,12.6,12.7,12.8
3,2009,12.6,12.7,12.6,12.6,12.6,12.6,12.6,12.5,12.5,12.5,12.5,12.4
4,2010,12.3,12.3,12.3,12.4,12.3,12.4,12.3,12.1,12.1,12.1,12.1,12.1

In [264]:
# Financial Activities
df5 = pd.read_csv('C:\\Users\\robin\\Documents\\ENSAE\\Python\\Projet\\financial_activities.txt', sep = ",")
df5.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2006,47.7,47.6,47.4,47.5,47.6,47.9,48.2,47.9,47.5,47.6,47.6,47.5
1,2007,47.1,47.1,47.0,46.9,47.0,47.4,47.6,47.4,47.0,46.6,46.8,46.8
2,2008,46.0,46.2,46.3,46.5,46.4,46.9,47.1,47.1,46.5,46.4,46.5,46.6
3,2009,46.0,45.8,45.8,45.6,45.4,45.4,45.1,44.8,44.3,44.0,43.7,43.1
4,2010,42.9,42.8,42.8,42.6,42.6,42.8,42.8,42.8,42.3,42.3,42.2,42.2

In [265]:
# Professional and Business Services
df6 = pd.read_csv('C:\\Users\\robin\\Documents\\ENSAE\\Python\\Projet\\professional_and_business_services.txt', sep = ",")
df6.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2006,82.6,83.1,83.0,83.6,83.5,84.3,84.8,84.7,84.7,85.1,85.4,85.8
1,2007,84.3,84.6,84.6,84.7,84.9,85.6,85.9,86.2,86.0,87.3,87.9,88.0
2,2008,86.7,86.0,86.1,85.9,85.6,85.6,85.1,85.3,84.6,84.8,84.1,83.3
3,2009,81.9,81.4,80.7,79.5,79.3,79.3,78.8,78.8,78.7,80.7,81.2,81.1
4,2010,80.1,80.6,80.8,81.5,81.0,81.5,81.2,81.4,81.3,83.0,83.3,83.4

In [266]:
# Education and Health Services
df7 = pd.read_csv('C:\\Users\\robin\\Documents\\ENSAE\\Python\\Projet\\education_health.txt', sep = ",")
df7.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2006,182.8,191.0,188.0,190.9,187.6,182.5,181.8,180.4,188.0,193.0,194.3,191.8
1,2007,187.5,195.0,194.3,194.7,192.0,186.4,187.1,186.2,191.9,198.0,198.8,196.9
2,2008,190.5,200.2,197.0,200.2,196.9,190.1,190.5,190.1,196.9,202.4,203.7,202.1
3,2009,197.9,205.9,201.9,202.8,199.5,193.0,194.1,192.4,197.2,203.3,204.1,201.7
4,2010,197.3,203.9,201.8,204.1,202.2,196.2,196.9,196.2,201.7,209.2,210.0,208.1

In [267]:
# Leisure and Hospitality 
df8 = pd.read_csv('C:\\Users\\robin\\Documents\\ENSAE\\Python\\Projet\\leisure_hospitality.txt', sep = ",")
df8.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2006,54.5,55.0,55.9,58.1,59.0,58.7,58.0,58.8,59.1,59.5,59.7,59.3
1,2007,56.3,56.9,57.7,58.8,59.6,58.6,57.2,57.8,58.5,58.5,58.3,58.2
2,2008,54.1,54.9,55.6,59.5,59.9,58.6,57.7,57.9,58.9,59.7,59.3,58.7
3,2009,54.3,54.6,55.3,56.9,58.8,57.9,57.0,57.0,56.8,59.3,57.7,57.5
4,2010,53.7,53.7,55.5,58.6,60.3,59.3,57.9,59.1,60.5,61.7,61.2,59.8

In [268]:
# Other Services
df9 = pd.read_csv('C:\\Users\\robin\\Documents\\ENSAE\\Python\\Projet\\other_services.txt', sep = ",")
df9.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2006,28.1,28.1,28.3,28.4,28.5,28.4,28.2,28.1,27.9,28.4,28.3,28.2
1,2007,27.6,27.9,28.1,28.3,28.3,28.3,28.1,27.8,27.7,27.8,27.8,27.8
2,2008,27.4,27.3,27.3,27.8,28.0,28.1,28.3,28.1,28.2,27.8,27.5,27.4
3,2009,26.7,26.6,26.7,26.7,26.9,27.0,26.9,26.7,26.3,26.4,26.4,26.4
4,2010,26.3,26.2,26.5,26.5,26.7,26.8,26.7,26.5,26.1,26.6,26.5,26.5

In [269]:
# Government 
df10 = pd.read_csv('C:\\Users\\robin\\Documents\\ENSAE\\Python\\Projet\\government.txt', sep = ",")
df10

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2006,113.9,115.1,115.2,116.3,115.6,113.6,112.2,110.1,110.3,111.6,112.1,112.1
1,2007,111.2,112.1,112.3,112.5,111.9,110.9,111.7,109.9,107.4,109.0,109.3,109.3
2,2008,108.9,109.2,109.4,109.9,109.5,109.5,105.5,106.9,109.4,110.8,110.3,111.0
3,2009,110.2,110.9,111.1,111.9,109.9,110.7,107.8,107.4,110.5,111.6,111.3,111.2
4,2010,111.0,111.4,112.3,113.4,117.0,115.0,108.9,108.1,111.5,112.3,112.4,112.4
5,2011,111.8,112.0,112.4,112.2,111.6,111.4,105.3,103.0,106.5,106.6,107.2,107.6
6,2012,105.8,106.8,106.7,107.0,106.0,106.0,101.8,100.4,105.1,105.7,105.7,106.1
7,2013,104.8,105.8,106.7,105.8,104.8,104.9,100.1,98.8,102.2,103.1,102.7,102.6
8,2014,102.8,103.7,103.0,103.1,102.4,102.3,100.2,97.8,101.9,103.1,103.1,102.8
9,2015,102.3,102.7,102.8,102.7,102.2,102.1,99.1,99.2,101.3,102.0,102.3,102.9
10,2016,102.1,102.5,102.4,102.3,101.8,101.8,98.7,98.4,101.3,102.0(P),,

On convertit tout en float et on remplace les valeurs manquantes par des 0 (les mois de 2016 pour lesquels les données ne sont pas encore disponibles).

In [270]:
df1.dtypes

Year      int64
Jan     float64
Feb     float64
Mar     float64
Apr     float64
May     float64
Jun     float64
Jul     float64
Aug     float64
Sep     float64
Oct      object
Nov      object
Dec     float64
dtype: object

In [271]:
# Conversion en float

dfs = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]
for i in dfs:
    i['Oct'].ix[10] = i['Oct'].ix[10][0:4]
    i['Nov'].ix[10] = 0
    i['Dec'].ix[10] = 0
    i = i.astype(float)

C:\Users\robin\Anaconda3\lib\site-packages\pandas\core\indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

### Mise en forme sous un seul Data Frame

On veut désormais regrouper ces données en un seul Data Frame, où une ligne correspond à un mois (à partir du 1er Janvier 2006).

In [272]:
df_temp = pd.DataFrame(columns=["Year", "Month", var], index=(range(0,132)))

In [273]:
a=list(df1.columns)
a.remove("Year")
var = ["Mining_Logging_Construction", "Manufacturing", "Trade_Transportation_Utilities", "Information",
      "Financial_Activities", "Professional_and_Business_Services", "Education_and_Health_Services",
      "Leisure_and_Hospitality", "Other_Services", "Government"]
dfs = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]
dfs_2 = []

for i,var in zip(dfs,var):
    df_temp = pd.DataFrame(columns=[var], index=(range(0,132)))
    j=0
    for y in range(0,11):
        for Month in a:
            df_temp[var].ix[j] = i[Month].ix[y]
            j+=1
    dfs_2.append(df_temp)

In [274]:
dfs_2.append(df)
data = pd.concat(dfs_2,axis=1)

In [275]:
data

,Mining_Logging_Construction,Manufacturing,Trade_Transportation_Utilities,Information,Financial_Activities,Professional_and_Business_Services,Education_and_Health_Services,Leisure_and_Hospitality,Other_Services,Government,Year,Period,labor force,employment,unemployment,unemployment rate
0,11.8,30.4,88.4,12.7,47.7,82.6,182.8,54.5,28.1,113.9,2006.0,Jan,608659,568770,39889,6.6
1,12,30.4,87.4,13.3,47.6,83.1,191,55,28.1,115.1,2006.0,Feb,609180,570129,39051,6.4
2,12.1,30.4,87.8,12.6,47.4,83,188,55.9,28.3,115.2,2006.0,Mar,609354,571811,37543,6.2
3,12.3,30.4,87.9,12.7,47.5,83.6,190.9,58.1,28.4,116.3,2006.0,Apr,610997,575352,35645,5.8
4,13.5,30.3,88.4,12.9,47.6,83.5,187.6,59,28.5,115.6,2006.0,May,613592,575646,37946,6.2
5,12.7,30.1,88.3,12.8,47.9,84.3,182.5,58.7,28.4,113.6,2006.0,Jun,620094,579915,40179,6.5
6,12.6,29.4,88.1,12.5,48.2,84.8,181.8,58,28.2,112.2,2006.0,Jul,626688,584175,42513,6.8
7,12.6,29.6,87.7,12.5,47.9,84.7,180.4,58.8,28.1,110.1,2006.0,Aug,621973,580938,41035,6.6
8,12.5,29.7,88.4,13.3,47.5,84.7,188,59.1,27.9,110.3,2006.0,Sep,615936,577931,38005,6.2
9,12.4,29.6,88.6,13.0,47.6,85.1,193.0,59.5,28.4,111.6,2006.0,Oct,617499,581918,35581,5.8
10,12.3,29.5,90.4,12.5,47.6,85.4,194.3,59.7,28.3,112.1,2006.0,Nov,619457,582670,36787,5.9
11,11.6,29.2,90.9,12.7,47.5,85.8,191.8,59.3,28.2,112.1,2006.0,Dec,617444,582933,34511,5.6
12,11.2,28.8,87.5,12.5,47.1,84.3,187.5,56.3,27.6,111.2,2007.0,Jan,615807,575325,40482,6.6
13,11.4,28.7,86.7,12.4,47.1,84.6,195,56.9,27.9,112.1,2007.0,Feb,612206,575614,36592,6.0
14,11.6,28.6,86.8,12.4,47,84.6,194.3,57.7,28.1,112.3,2007.0,Mar,612592,577732,34860,5.7
15,11.6,28.4,87.1,12.5,46.9,84.7,194.7,58.8,28.3,112.5,2007.0,Apr,611459,578544,32915,5.4
16,11.8,28.5,87.5,12.4,47,84.9,192,59.6,28.3,111.9,2007.0,May,614604,577657,36947,6.0
17,12,28.6,87.6,12.5,47.4,85.6,186.4,58.6,28.3,110.9,2007.0,Jun,622894,583401,39493,6.3
18,12.2,28.3,87.6,12.4,47.6,85.9,187.1,57.2,28.1,111.7,2007.0,Jul,632765,591104,41661,6.6
19,12.2,28.4,87.3,12.5,47.4,86.2,186.2,57.8,27.8,109.9,2007.0,Aug,626352,586481,39871,6.4
20,12,28.5,87.6,13.5,47,86,191.9,58.5,27.7,107.4,2007.0,Sep,621877,583417,38460,6.2
21,12.6,28.5,87.6,12.6,46.6,87.3,198.0,58.5,27.8,109.0,2007.0,Oct,624130,586262,37868,6.1
22,12.3,28.5,89.5,12.6,46.8,87.9,198.8,58.3,27.8,109.3,2007.0,Nov,626901,589993,36908,5.9
23,11.8,28.4,90.3,12.7,46.8,88,196.9,58.2,27.8,109.3,2007.0,Dec,624630,587191,37439,6.0
24,11.7,27.8,86.9,12.1,46,86.7,190.5,54.1,27.4,108.9,2008.0,Jan,623861,580953,42908,6.9
25,11.8,27.7,86,12.2,46.2,86,200.2,54.9,27.3,109.2,2008.0,Feb,619840,579068,40772,6.6
26,12.1,27.5,86.2,12.2,46.3,86.1,197,55.6,27.3,109.4,2008.0,Mar,622212,581833,40379,6.5
27,12.4,27.6,86.8,12.4,46.5,85.9,200.2,59.5,27.8,109.9,2008.0,Apr,625261,588486,36775,5.9
28,12.9,27.7,87.4,12.5,46.4,85.6,196.9,59.9,28,109.5,2008.0,May,628366,585990,42376,6.7
29,12.6,27.8,87.8,12.4,46.9,85.6,190.1,58.6,28.1,109.5,2008.0,Jun,633342,588509,44833,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,11.4,21.4,89.9,11.6,42.2,88,206.1,66.4,27.3,100.2,2014.0,Jul,697350,634900,62450,9.0
103,11.4,21.6,90.2,11.6,42.1,88.6,205.2,67.4,27.1,97.8,2014.0,Aug,688477,629948,58529,8.5
104,11.4,21.6,91.1,11.6,41.7,88.9,214.3,69.8,27,101.9,2014.0,Sep,688784,637333,51451,7.5
105,11.7,21.5,92.1,11.7,41.7,89.5,219.3,70.0,27.1,103.1,2014.0,Oct,693303,642922,50381,7.3
106,11.7,21.6,93.9,11.7,42.1,90.1,220.7,68.5,27.1,103.1,2014.0,Nov,693074,644353,48721,7.0
107,11.2,21.5,94.9,11.8,42.2,90.5,217.1,68.3,26.9,102.8,2014.0,Dec,686829,640954,45875,6.7
108,10.7,21.2,91.2,11.4,41.8,88.9,213.9,64.8,26.6,102.3,2015.0,Jan,693722,639618,54104,7.8
109,11.2,21,90.4,11.6,41.9,89.2,220.3,65,26.7,102.7,2015.0,Feb,694363,643484,50879,7.3
110,11,21.1,90.8,11.8,41.9,89.2,218.4,66.2,26.9,102.8,2015.0,Mar,691464,642144,49320,7.1
111,11.1,21.1,91.5,11.7,42.1,89.9,221.5,68.9,27.1,102.7,2015.0,Apr,695334,649154,46180,6.6
112,11.5,21.2,91.8,11.7,42.3,90,216.9,69.8,27.4,102.2,2015.0,May,698870,645645,53225,7.6
113,12.2,21.2,92.7,11.9,42.6,90.8,210.2,69.4,27.7,102.1,2015.0,Jun,697212,645744,51468,7.4
114,11.7,21.2,92,11.8,42.7,90.3,209.8,69,27.6,99.1,2015.0,Jul,702879,647747,55132,7.8
115,11.7,21.1,92.5,11.9,42.7,90.2,208.2,69.1,27.6,99.2,2015.0,Aug,694588,644464,50124,7.2
116,11.8,21,93.2,11.9,42.1,90.3,217.3,70.3,27.4,101.3,2015.0,Sep,693395,648692,44703,6.4
117,11.8,21.0,94.6,11.9,42.4,91.0,222.6,70.0,27.9,102.0,2015.0,Oct,696693,653688,43005,6.2
118,11.7,21.0,96.8,11.9,42.8,91.9,225.0,67.7,27.9,102.3,2015.0,Nov,699208,658840,40368,5.8
119,11.4,21.1,97.4,12.0,43,91.8,222.7,67.2,28,102.9,2015.0,Dec,696601,660142,36459,5.2
120,10.7,20.7,92.6,11.8,42.4,89.9,219.4,67.5,27.7,102.1,2016.0,Jan,700052,655900,44152,6.3
121,11,20.5,92.4,11.8,43,91.5,226.1,67.1,27.7,102.5,2016.0,Feb,705473,661295,44178,6.3
122,11.1,20.7,93.2,11.8,43.4,92.4,225.6,68.4,28.1,102.4,2016.0,Mar,707890,660413,47477,6.7
123,11.5,20.8,93.2,11.9,43.5,92.8,227.5,70.5,28.2,102.3,2016.0,Apr,707034,660450,46584,6.6
124,11.7,20.9,94.1,10.8,43.7,93.9,222.8,72.6,28,101.8,2016.0,May,711781,661792,49989,7.0
125,12,20.9,93.9,11.7,43.8,92.9,217.4,73,27.5,101.8,2016.0,Jun,709488,660296,49192,6.9
126,11.8,20.8,93.1,11.7,44.2,91.7,217.8,74.7,27.8,98.7,2016.0,Jul,718779,663488,55291,7.7
127,11.9,20.8,93.4,11.6,44.6,91.8,216.5,73.9,28.1,98.4,2016.0,Aug,713960,659107,54853,7.7
128,12,20.7,94.7,11.5,43.4,91.4,224.1,73.7,27.9,101.3,2016.0,Sep,713854,663737,50117,7.0
129,12.0,20.5,95.7,11.6,43.2,92.0,229.,73.9,28.0,102.,2016.0,Oct,714478(P),664483(P),49995(P),7.0(P)
130,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
131,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

Certaines valeurs tout à la fin du Data Frame nécessitent d'être rentrées à la main (voir ligne 129)

In [276]:
# Fill values

data.ix[129, 'labor force'] = 714478
data.ix[129, 'employment'] = 664483
data.ix[129, 'unemployment'] = 49995
data.ix[129, 'unemployment rate'] = float(7.0)

In [277]:
data

,Mining_Logging_Construction,Manufacturing,Trade_Transportation_Utilities,Information,Financial_Activities,Professional_and_Business_Services,Education_and_Health_Services,Leisure_and_Hospitality,Other_Services,Government,Year,Period,labor force,employment,unemployment,unemployment rate
0,11.8,30.4,88.4,12.7,47.7,82.6,182.8,54.5,28.1,113.9,2006.0,Jan,608659,568770,39889,6.6
1,12,30.4,87.4,13.3,47.6,83.1,191,55,28.1,115.1,2006.0,Feb,609180,570129,39051,6.4
2,12.1,30.4,87.8,12.6,47.4,83,188,55.9,28.3,115.2,2006.0,Mar,609354,571811,37543,6.2
3,12.3,30.4,87.9,12.7,47.5,83.6,190.9,58.1,28.4,116.3,2006.0,Apr,610997,575352,35645,5.8
4,13.5,30.3,88.4,12.9,47.6,83.5,187.6,59,28.5,115.6,2006.0,May,613592,575646,37946,6.2
5,12.7,30.1,88.3,12.8,47.9,84.3,182.5,58.7,28.4,113.6,2006.0,Jun,620094,579915,40179,6.5
6,12.6,29.4,88.1,12.5,48.2,84.8,181.8,58,28.2,112.2,2006.0,Jul,626688,584175,42513,6.8
7,12.6,29.6,87.7,12.5,47.9,84.7,180.4,58.8,28.1,110.1,2006.0,Aug,621973,580938,41035,6.6
8,12.5,29.7,88.4,13.3,47.5,84.7,188,59.1,27.9,110.3,2006.0,Sep,615936,577931,38005,6.2
9,12.4,29.6,88.6,13.0,47.6,85.1,193.0,59.5,28.4,111.6,2006.0,Oct,617499,581918,35581,5.8
10,12.3,29.5,90.4,12.5,47.6,85.4,194.3,59.7,28.3,112.1,2006.0,Nov,619457,582670,36787,5.9
11,11.6,29.2,90.9,12.7,47.5,85.8,191.8,59.3,28.2,112.1,2006.0,Dec,617444,582933,34511,5.6
12,11.2,28.8,87.5,12.5,47.1,84.3,187.5,56.3,27.6,111.2,2007.0,Jan,615807,575325,40482,6.6
13,11.4,28.7,86.7,12.4,47.1,84.6,195,56.9,27.9,112.1,2007.0,Feb,612206,575614,36592,6.0
14,11.6,28.6,86.8,12.4,47,84.6,194.3,57.7,28.1,112.3,2007.0,Mar,612592,577732,34860,5.7
15,11.6,28.4,87.1,12.5,46.9,84.7,194.7,58.8,28.3,112.5,2007.0,Apr,611459,578544,32915,5.4
16,11.8,28.5,87.5,12.4,47,84.9,192,59.6,28.3,111.9,2007.0,May,614604,577657,36947,6.0
17,12,28.6,87.6,12.5,47.4,85.6,186.4,58.6,28.3,110.9,2007.0,Jun,622894,583401,39493,6.3
18,12.2,28.3,87.6,12.4,47.6,85.9,187.1,57.2,28.1,111.7,2007.0,Jul,632765,591104,41661,6.6
19,12.2,28.4,87.3,12.5,47.4,86.2,186.2,57.8,27.8,109.9,2007.0,Aug,626352,586481,39871,6.4
20,12,28.5,87.6,13.5,47,86,191.9,58.5,27.7,107.4,2007.0,Sep,621877,583417,38460,6.2
21,12.6,28.5,87.6,12.6,46.6,87.3,198.0,58.5,27.8,109.0,2007.0,Oct,624130,586262,37868,6.1
22,12.3,28.5,89.5,12.6,46.8,87.9,198.8,58.3,27.8,109.3,2007.0,Nov,626901,589993,36908,5.9
23,11.8,28.4,90.3,12.7,46.8,88,196.9,58.2,27.8,109.3,2007.0,Dec,624630,587191,37439,6.0
24,11.7,27.8,86.9,12.1,46,86.7,190.5,54.1,27.4,108.9,2008.0,Jan,623861,580953,42908,6.9
25,11.8,27.7,86,12.2,46.2,86,200.2,54.9,27.3,109.2,2008.0,Feb,619840,579068,40772,6.6
26,12.1,27.5,86.2,12.2,46.3,86.1,197,55.6,27.3,109.4,2008.0,Mar,622212,581833,40379,6.5
27,12.4,27.6,86.8,12.4,46.5,85.9,200.2,59.5,27.8,109.9,2008.0,Apr,625261,588486,36775,5.9
28,12.9,27.7,87.4,12.5,46.4,85.6,196.9,59.9,28,109.5,2008.0,May,628366,585990,42376,6.7
29,12.6,27.8,87.8,12.4,46.9,85.6,190.1,58.6,28.1,109.5,2008.0,Jun,633342,588509,44833,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,11.4,21.4,89.9,11.6,42.2,88,206.1,66.4,27.3,100.2,2014.0,Jul,697350,634900,62450,9.0
103,11.4,21.6,90.2,11.6,42.1,88.6,205.2,67.4,27.1,97.8,2014.0,Aug,688477,629948,58529,8.5
104,11.4,21.6,91.1,11.6,41.7,88.9,214.3,69.8,27,101.9,2014.0,Sep,688784,637333,51451,7.5
105,11.7,21.5,92.1,11.7,41.7,89.5,219.3,70.0,27.1,103.1,2014.0,Oct,693303,642922,50381,7.3
106,11.7,21.6,93.9,11.7,42.1,90.1,220.7,68.5,27.1,103.1,2014.0,Nov,693074,644353,48721,7.0
107,11.2,21.5,94.9,11.8,42.2,90.5,217.1,68.3,26.9,102.8,2014.0,Dec,686829,640954,45875,6.7
108,10.7,21.2,91.2,11.4,41.8,88.9,213.9,64.8,26.6,102.3,2015.0,Jan,693722,639618,54104,7.8
109,11.2,21,90.4,11.6,41.9,89.2,220.3,65,26.7,102.7,2015.0,Feb,694363,643484,50879,7.3
110,11,21.1,90.8,11.8,41.9,89.2,218.4,66.2,26.9,102.8,2015.0,Mar,691464,642144,49320,7.1
111,11.1,21.1,91.5,11.7,42.1,89.9,221.5,68.9,27.1,102.7,2015.0,Apr,695334,649154,46180,6.6
112,11.5,21.2,91.8,11.7,42.3,90,216.9,69.8,27.4,102.2,2015.0,May,698870,645645,53225,7.6
113,12.2,21.2,92.7,11.9,42.6,90.8,210.2,69.4,27.7,102.1,2015.0,Jun,697212,645744,51468,7.4
114,11.7,21.2,92,11.8,42.7,90.3,209.8,69,27.6,99.1,2015.0,Jul,702879,647747,55132,7.8
115,11.7,21.1,92.5,11.9,42.7,90.2,208.2,69.1,27.6,99.2,2015.0,Aug,694588,644464,50124,7.2
116,11.8,21,93.2,11.9,42.1,90.3,217.3,70.3,27.4,101.3,2015.0,Sep,693395,648692,44703,6.4
117,11.8,21.0,94.6,11.9,42.4,91.0,222.6,70.0,27.9,102.0,2015.0,Oct,696693,653688,43005,6.2
118,11.7,21.0,96.8,11.9,42.8,91.9,225.0,67.7,27.9,102.3,2015.0,Nov,699208,658840,40368,5.8
119,11.4,21.1,97.4,12.0,43,91.8,222.7,67.2,28,102.9,2015.0,Dec,696601,660142,36459,5.2
120,10.7,20.7,92.6,11.8,42.4,89.9,219.4,67.5,27.7,102.1,2016.0,Jan,700052,655900,44152,6.3
121,11,20.5,92.4,11.8,43,91.5,226.1,67.1,27.7,102.5,2016.0,Feb,705473,661295,44178,6.3
122,11.1,20.7,93.2,11.8,43.4,92.4,225.6,68.4,28.1,102.4,2016.0,Mar,707890,660413,47477,6.7
123,11.5,20.8,93.2,11.9,43.5,92.8,227.5,70.5,28.2,102.3,2016.0,Apr,707034,660450,46584,6.6
124,11.7,20.9,94.1,10.8,43.7,93.9,222.8,72.6,28,101.8,2016.0,May,711781,661792,49989,7.0
125,12,20.9,93.9,11.7,43.8,92.9,217.4,73,27.5,101.8,2016.0,Jun,709488,660296,49192,6.9
126,11.8,20.8,93.1,11.7,44.2,91.7,217.8,74.7,27.8,98.7,2016.0,Jul,718779,663488,55291,7.7
127,11.9,20.8,93.4,11.6,44.6,91.8,216.5,73.9,28.1,98.4,2016.0,Aug,713960,659107,54853,7.7
128,12,20.7,94.7,11.5,43.4,91.4,224.1,73.7,27.9,101.3,2016.0,Sep,713854,663737,50117,7.0
129,12.0,20.5,95.7,11.6,43.2,92.0,229.,73.9,28.0,102.,2016.0,Oct,714478,664483,49995,7
130,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
131,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [278]:
# Les variables de mois et d'année sont inutiles puisque chaque ligne correspond à un mois à partir du 1er Janvier 2006
del data["Period"]
del data["Year"]
data = data.astype(float)

In [283]:
data.dtypes #On vérifie le type

Mining_Logging_Construction           float64
Manufacturing                         float64
Trade_Transportation_Utilities        float64
Information                           float64
Financial_Activities                  float64
Professional_and_Business_Services    float64
Education_and_Health_Services         float64
Leisure_and_Hospitality               float64
Other_Services                        float64
Government                            float64
Labor Force                           float64
Employment                            float64
Unemployment                          float64
Unemployment Rate                     float64
dtype: object

In [280]:
data.rename(columns={'labor force': 'Labor Force', 'employment': 'Employment', 'unemployment': 'Unemployment',
                    'unemployment rate': 'Unemployment Rate'}, inplace=True)

In [281]:
data.head()

,Mining_Logging_Construction,Manufacturing,Trade_Transportation_Utilities,Information,Financial_Activities,Professional_and_Business_Services,Education_and_Health_Services,Leisure_and_Hospitality,Other_Services,Government,Labor Force,Employment,Unemployment,Unemployment Rate
0,11.8,30.4,88.4,12.7,47.7,82.6,182.8,54.5,28.1,113.9,608659.0,568770.0,39889.0,6.6
1,12.0,30.4,87.4,13.3,47.6,83.1,191.0,55.0,28.1,115.1,609180.0,570129.0,39051.0,6.4
2,12.1,30.4,87.8,12.6,47.4,83.0,188.0,55.9,28.3,115.2,609354.0,571811.0,37543.0,6.2
3,12.3,30.4,87.9,12.7,47.5,83.6,190.9,58.1,28.4,116.3,610997.0,575352.0,35645.0,5.8
4,13.5,30.3,88.4,12.9,47.6,83.5,187.6,59.0,28.5,115.6,613592.0,575646.0,37946.0,6.2

### On exporte

In [282]:
#data.to_csv('C:\\Users\\robin\\Documents\\ENSAE\\Python\\Projet\\philadelphia_sociodemo.csv')